@import "./colors";

window {
  background: transparent;
}

label {
  font-family: "system-ui";
  font-size: 16px;
  // font-weight: bold;
  color: $color_light;
}

@mixin font-monospace() {
  font-family: "monospace";
}

.monospace {
  @include font-monospace;
}

@import "../src/modules/bar";
@import "../src/modules/app-launcher";
@import "../src/modules/power-menu";
@import "../src/modules/osd";
@import "../src/modules/notification-center";
@import "../src/modules/settings";
