@mixin module(
  $fg_icon: $color_yellow,
  $fg: $color_light,
  $bg: $bg_normal_transparent
) {
  padding: 6px 12px;
  // border-radius: 12px;
  border-radius: 8px;
  border: 1px solid $color_gray;
  background-color: $bg;

  label {
    color: $fg;
  }

  image {
    font-size: 1.5rem;
    color: $fg_icon;
  }
}

#bar {
  #date-time {
    @include module;

    .time {
      font-weight: bold;
    }
  }

  #workspaces {
    @include module($color_gray);

    .workspace {
      padding: 0px 3px;
      transition: color 0.2s ease;

      &.active {
        image {
          color: $color_yellow;
        }
      }

      &.occupied:not(.active) {
        image {
          color: $color_sky;
        }
      }
    }
  }

  #system-info {
    @include module($color_lime);

    .info {
      & > label {
        @include font-monospace;
      }

      &.warning {
        color: $color_orange;
        image {
          color: $color_orange;
        }
      }

      &.critical {
        background-color: $color_red;
        color: $color_light;
        image {
          color: $color_light;
        }
      }
    }
  }

  #systray {
    @include module($color_light);
    font-size: 1.5rem;
  }

  #audio {
    @include module;

    label {
      @include font-monospace;
    }

    image {
      color: $color_yellow;
    }

    .muted {
      & > label,
      & > image {
        color: $color_orange;
      }
    }
  }

  #notification-indicator {
    button {
      @include module;
    }

    image {
      color: $color_yellow;
    }

    &.empty {
      image {
        color: $color_gray;
      }
    }

    .summary {
      margin-left: 8px;
    }
  }

  #battery {
    @include module;

    label {
      @include font-monospace;
    }

    image {
      color: $color_yellow;
    }

    &.low,
    &.empty {
      background-color: $color_red;
      label {
        color: $color_light;
      }
      image {
        color: $color_light;
      }
    }

    &.quarter {
      background-color: $color_orange;
      label {
        color: $color_dark;
      }
      image {
        color: $color_dark;
      }
    }

    &.charging {
      image {
        color: $color_green;
      }
    }
  }

  #client-indicator {
    @include module;

    image.indicator {
      color: $color_gray;

      &.active {
        color: $color_orange;
      }

      &.xwayland {
        padding: 3px;
        border-radius: 50%;
        background-color: $color_blue;
      }
    }
  }

  #screenshot-indicator {
    @include module($color_dark, $color_dark, $color_orange);
  }

  #screen-record-indicator {
    &.selection {
      @include module($color_dark, $color_dark, $color_orange);
    }

    &.recording {
      @include module($color_light, null, $color_red);
    }
  }
}
